name: Docker

on:
  push:
    tags:
      - '*'

jobs:
  push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build
        run: npm install

      - name: Log into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

      - name: Build images
        run: |
          IMAGE_BASE=docker.pkg.github.com/${{ github.repository }}/

          # Change all uppercase to lowercase
          export IMAGE_BASE=$(echo $IMAGE_BASE | tr '[A-Z]' '[a-z]')

          # Get the version and build number from the script
          export IMAGE_VERSION=$(npm run --silent version)

          echo IMAGE_BASE=$IMAGE_BASE
          echo IMAGE_VERSION=$IMAGE_VERSION

          # now build the images
          npm run docker:build

          echo "Pushing ${IMAGE_BASE}frontend:${IMAGE_VERSION}"
          ##docker tag "${IMAGE_BASE}frontend:${IMAGE_VERSION}" "${IMAGE_BASE}frontend:latest"
          ##docker push "${IMAGE_BASE}frontend:latest"
          docker push "${IMAGE_BASE}frontend:${IMAGE_VERSION}"

          echo "Pushing ${IMAGE_BASE}backend:${IMAGE_VERSION}"
          ##docker tag "${IMAGE_BASE}backend:${IMAGE_VERSION}" "${IMAGE_BASE}backend:latest"
          ##docker push "${IMAGE_BASE}backend:latest"
          docker push "${IMAGE_BASE}backend:${IMAGE_VERSION}"

      - name: Log out of registry
        run: docker logout
